
.abt-section-1{
    /* background-color: #EDEDED; */
    /* margin-right: -0.55%; */
    margin-top:-1%; ;
    margin-left: -0.55%;
    /* background-position: center; */
    /* background-attachment: fixed; */
    /* background-size: cover; */
    height: 10%;
}


  

.abt-sec-1-back{
    background-color: #EDEDED;
    margin-bottom: 3%;
}
.abt-article{
padding: 5%;

}
.abt-article h2{
    font-size: 60px;
    font-weight: bold;
    text-align: center;

}
.abt-article h5{
    text-align: center;
    font-size: 18px;
    margin-left: 19%;
    font-weight: lighter;
    max-width: 800px;

}
.abt-article hr{
    margin-top: 3%;
    height: 2px;
    width: 700px;
    background-color: rgba(0, 0, 0, 0.303);;
    border:rgba(0, 0, 0, 0.255);
    border-radius: 3px;
    border-width: 5px;
}
.abt-front-image img {
    margin-left: 8%;
    height: 580px;
    width: 1200px;

}


    .abt-section-2{
        background-color: #EDEDED;
        /* margin-top: 40%; */
        /* margin-right: -0.55%; */
        margin-left: -0.55%;
        padding-top: 10%;
        height: 110vh;
    }
   
    .abt-white-back{
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 15px;
        max-width: 100%;
        padding: 15px;
        margin-left: 12%;
        margin-right: 15%;
        margin-top: 2%;
        box-shadow: 10px 10px 0 #F9C80E;
    }
    .abt-sec-2-back{
        margin-left: 4%;
        display:flex;
        
    }
    .abt-sec-2-back h2{
        /* margin-left: -3%; */
    max-width: 190px;
    font-size: 40px;
    
    }
    .abt-sec-2-back img{
        margin-left: 45%;
        margin-top: 4.4%;
        height: 324px;
      width: 340px;
    }
    .abt-white-back button{
        background-color: #04F06A;
        height: 46px;
       width: 165px;
        padding: 7px;
        margin-top: -50%;
        margin-left: 40%;
        margin-bottom: 3%;
        /* margin-right: 5%; */
        border-radius: 12px;
        border-color: #04f06a00;
        font-size: 16px;

    }
    
  .abt-team{
    background-color: #EDEDED;
    margin-top:-5%; ;
    margin-left: -0.55%;
    height: 90vh;
  }
 .abt-team-back{
    padding: 8%;
 }
 .abt-team-back  h1{
    text-align: center;
    font-size: 100px;
    /* margin-top: 10%; */
 }
 .abt-team-back  h6{
    margin-top: -6%;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.567);
    /* margin-top: 10%; */
 }
 .abt-images{
    margin-top:7%;
    margin-left: 15%;
    display: flex;
    justify-content:space-evenly;
}
 
 .abt-img-with-details{
    margin-right:20%;
 }
 .abt-img-with-details img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
 }

 .abt-img-with-details h4 {
    margin-top: -0.01%;
   font-size: 17px;
   font-weight:500;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 2%;
    max-width: 190%;
    text-align: center;

 }
 .abt-team-back  h5{
    font-size: 14px ;
    text-align: center;
    font-weight: lighter;
    max-width: 800px;
    margin-bottom: -22px;
    color: rgba(0, 0, 0, 0.568);
 }
 



 



