.whole-ContactUs{
    margin-top: 6%;
}
.whole-top-upper-CntUs{
    background-color: #3164F4;
    /* margin-top: 10%; */
    margin-left: 10%;
    margin-right: 12%;
    height: 80vh;
    border-radius: 14px;

    
}
.back-upper-CntUs{
    
    background-color: #F9C80E;
    margin-left: -4%;
    margin-right: -4%;
    border-radius: 14px;
}
.main-content-CntUs{
    display: flex;

}
.cube-tower-img img{
    height: 699px;
    width: 610px;
    margin-top: -25%;
    margin-bottom: -1%;
}
.contactingUs-details {
    margin-left: 5%;

}
.contactingUs-details h1{
    font-size: 48px;
    margin-left: 12%;
    text-align: center;


}
.contactingUs-details  h5{
    text-align: center;

    font-size: 17px;
    font-weight: lighter;
    max-width: 450px;
  margin-left: 12%;
  margin-top: -5%;

}
.form{
    
    margin-top: 5%;
    margin-left: 20%;
}

.contactingUs-details input {
    height: 41px;
    width: 350px;
    outline: none;
    border-radius: 5px;
    border-color: transparent;
    padding: 9px;
    font-size: 17px;
    margin-top: 8px;
    margin-bottom: 8px;

}

.contactingUs-details textarea {
    height: 70px;
    width: 350px;
    outline: none;
    border-radius: 5px;
    border-color: transparent;
    padding: 9px;
    font-size: 17px;

  }
  
.contactingUs-details button {
    background-color: #04F06A;
    border-radius: 8px;
    padding: 10px;
    border-color: transparent;
    height: 41px;
    width: 350px;
    margin-top: 5%;
    /* margin-bottom: 10%; */
    font-size: 16px;

}
