.log-body{
    /* background-color: rgba(0, 0, 0, 0.539); */
    /* height: 100vh; */
    /* width: 100%; */
    /* margin-bottom: -4%; */
    /* position: fixed; */
    /* padding: 100px; */
}



img.whole-back{
    position: absolute;
    background-size: 80%;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
}
.login-box{
    border: 2px solid rgba(0, 0, 0, 0);
    margin: 100px 540px 0px 550px;
    padding: 18px; 
    padding-bottom: 55px; 
    border-radius: 10px;
    position: relative;
    backdrop-filter: blur(2px) brightness(92%) ;

}
                                                  /* header */
.header{
    color: black;
    text-align: center;
    /* margin: 0px 0px 60px 0px ; */
    margin-top: 10%;
    /* background-color: white; */
}

                                                   /* Email box css */
.email-box{
    margin-bottom: 23px;
}
input[type= email]{
    position: relative;
    padding: 10px;
    width: 340px;
    border: 2px rgba(0, 0, 0, 0) solid;
    border-radius: 5px;
    margin-left: 7%;
    margin-top: 5%;
    /* height: 20px; */
}
.email-lb{
    position: absolute;
    left: 55px;
    top: 141px;
    transition: top 250ms ease-in, left 250ms ease-in, 
    font-size 250ms ease-in ;
    display: block;
}
.e-box::before{
    content: --;
    height: 5px;
    background-color: #272530;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
}
.e-box:focus{
    border: 2px solid orangered;

}
.e-box:focus+.lable,.filled{
    top:-10px;
    /* color: orangered; */
    font-size: 12px;
}
.e-box::placeholder{
    font-size: 12px;
    opacity: 0;
    transition: all .3s;
}
.e-box:focus::placeholder{
    opacity: 1;
    animation-delay: 0.2s;
}
.e-box::before{
    content: --;
    height: 5px;
    background-color: #272530;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
}
.e-box:focus{
    border: 2px solid orangered;

}
.e-box:focus+.lable,.filled{
    top:-10px;
    /* color: orangered; */
    font-size: 12px;
}
.e-tbox::placeholder{
    font-size: 12px;
    opacity: 0;
    transition: all .3s;
}
.e-box:focus::placeholder{
    opacity: 1;
    animation-delay: 0.2s;
}
.e-box:focus ~ .email-lb,
.e-box:not(:placeholder-shown).e-box:not(:focus) ~ .email-lb{
    top: 120px;
    left: 52px;
    background-color: rgb(240, 234, 234);
    outline: none;
    padding: 0px 3px 0px 3px;
    font-size: 13px;
}
                                               /* password box css */

.password-box{
    margin-bottom: 23px;
}
.password-lb{
    position: absolute;
    left: 55px;
    top: 230px;
    transition: top 250ms ease-in, left 250ms ease-in, 
    font-size 250ms ease-in ;    
}
 input[type= password]{
    margin-top: 5%;

    position: relative;
    padding: 10px;
    width: 340px;
    border: 2px rgba(0, 0, 0, 0) solid;
    border-radius: 5px;
    margin-left: 7%;

    /* height: 20px; */
}
.p-box:focus{
    border: 2px solid orangered;

}
.p-box:focus+.lable,.filled{
    top:-10px;
    /* color: orangered; */
    font-size: 12px;
}
.p-box::placeholder{
    font-size: 12px;
    opacity: 0;
    transition: all .3s;
}
.p-box:focus::placeholder{
    opacity: 1;
    animation-delay: 0.2s;
}
.p-box::before{
    content: --;
    height: 5px;
    background-color: #272530;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
}
.p-box:focus{
    border: 2px solid orangered;

}
.p-box:focus+.lable,.filled{
    top:-10px;
    /* color: orangered; */
    font-size: 12px;
}
.p-box::placeholder{
    font-size: 12px;
    opacity: 0;
    transition: all .3s;
}
.p-box:focus::placeholder{
    opacity: 1;
    animation-delay: 0.2s;
}
.p-box:focus ~ .password-lb,
.p-box:not(:placeholder-shown).p-box:not(:focus) ~ .password-lb{
    top: 210px;
    left: 52px;
    background-color: rgb(240, 234, 234);
    outline: none;
    padding: 0px 3px 0px 3px;
    font-size: 13px;
}


                                              /* button box css*/
 input[type=submit]{
    margin-top: 30px;
    height: 40px;
    padding: 9px;
    width: 340px;
    margin-left: 7%;
    background-color: #3164F4;
    border: none;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100px;
    color: white;
    cursor: pointer;
}
 input[type=submit]:hover{
    background-color: blue;
}

                                                   /* bottom code */
.new-user-box{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

}
.log-body h4{
    color: #3164F4;
    text-decoration: none;
}
.log-body h4:hover{
    cursor: pointer;
    color: blue;
}
v.log-body h5{
    margin-top: 28px;
    color: #272530;
    font-size: 16px;

}
.log-body h5:hover{
    cursor: pointer;
    color: rgb(62, 58, 58);
    text-decoration: underline;
}
.cut-show{
    margin-top: -7rem;
    position: static;
}
.cut-show:hover{
    filter: drop-shadow(0 0 52rem red);
}
