/* Small mobile screens  Portrait orientation */
@media only screen and (max-width: 480px) {
    /* CSS rules specific to small mobile screens */
  }
  
  /* Medium mobile screens */
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    /* CSS rules specific to medium mobile screens */
  }
  
  /* Large mobile screens */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* CSS rules specific to large mobile screens */
  }
  

  /* ------------------------------------------------------------------------------- */

  /* Small mobile screens Landscape orientation */
@media only screen and (max-width: 767px) {
    /* CSS rules specific to small mobile screens */
  }
  
  /* Large mobile screens */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* CSS rules specific to large mobile screens */
  }
  


  /* ----------------------write from here---------------------------------- */

      /* CSS rules specific to small mobile screens */

    @media only screen and (max-width: 480px) {

*{
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins';
    transition: ease-in-out;
    scroll-behavior: smooth;
    background-color: #ffffff;

    
}
html{
    background-color: #EDEDED;
    
}
.section-1{
  background-color: #ffffff;
  /* margin-right: -0.55%; */
  margin-top:-1%; ;
  /* margin-left: -0.55%; */
  /* background-position: center; */
  /* background-attachment: fixed; */
  /* background-size: cover; */
  height: 100vh;
}
.get-cupon{
 display: none;

}
    
nav{
  overflow:visible;
  position: -webkit-sticky;
  position: sticky;
  z-index: 9999;
  top: 0;
  margin-top: -2.5%;
  background-color: #fffbfb;
  /* backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); */
  /* margin-right: -0.55%; */
  margin-left: -0.55%;
  
  }

  .menu{
    position:static;
    display: flex;
}
.logo{
  margin-left: 55%;
  margin-top: -8%;
  font-size: 21px;
  margin-right: 3%;
  display: flex;
  color: black;


}
.logo img {

 height: 30px;
 width: 100%;
 border-radius: 50%;
 margin-top: 34px;
 margin-right: 33%;
 transition: transform .9s ease-in-out;
  
}
.logo img:hover {
  transform: rotate(180deg);
}
.links{
  margin-left: 80%;
  font-size: 19px;
  margin-top: 1%;
  margin-right: 10%;
  margin-left: 4%;

  
}
.links-2{
  font-size: 17px;
  margin-left: 21%;
}
.link-bar{
  margin-top: -2.3%;
  margin-right: -0.55%;
  background-color: #f5c000;
  max-width:100%;
display: none;
  
}
.op{
  margin-right: 55px;
  color: black;
  padding: 2px;
  font-size: 19px;

}
.op:hover{
  border: solid 2px #00000000;
  background-color: #ffffff;
  /* border-radius: 4px; */
  font-size: 18px;
  color: #000000;
}

.op-love svg{
  margin-top: 8px;
  margin-left: 34px;
  margin-right: 6px;
  padding-top: 7px;
  width:36px;
  height:36px;
  fill:#FD0404;
     stroke-width:1px;
     display: none;

}
.op-love svg :hover{
  animation: heartbeat 3s infinite;
  padding-top: 1px;


}


.op-bag svg{
  display: none;
  padding-top:9px;
  margin-top: 7px;
  width:36px;
  height:36px;
  fill:none;
  stroke:#3164F4;
  stroke-width:1.5px;
  transition: all 0.3s ease-in-out;
}
.links ul li{
  display: none;
}

.links-2 ul li{
  display: inline-flex;
  justify-content: space-around;
  padding: 1px;
  max-width: 100%;
}

.entry{

display: none;
margin-top: -1%;
padding: 5px;
font-size: 17px;
margin-left :13% ;

}
.log h4{
color: black;
padding: 5px 15px 5px 15px;
margin-right: 7px;
box-shadow: 0 0  0 #00000000;
transition: box-shadow 0.50ms ease-in-out ;
}
.log h4:hover{
  border:2px solid ;
  border-radius: 6px;
  box-shadow: 0px 3px  0 #000000;
  margin-right: 3.5px;

}
.log h4:active{
  box-shadow: 0px 0px  0 #000000;
  /* transition: ease-in-out 0.2ms; */

}
.sign h4{
  display: non;
  padding: 5px 15px 5px 15px;
  margin-left: 5px;
  color: white;
  background-color: #3164F4;
 border: 0.5px solid #3164F4;
 border-radius: 6px;
 font-weight: lighter;
}

.sign h4:hover{
  color: #032274;
  border: 0.2px solid #032274;
  background-color: #3165f400;
 font-weight: bold;
 box-shadow: 0px 4px  0 #032274;
 border-radius: 6px;
 font-weight: bold;


}
.my-account lord-icon{
  margin-left: 8px;
  margin-top: 44%;
  background-color: #ffffff;
  border-radius: 50%;
 font-weight: lighter;
 width: 42px;
 height : 42px;
 cursor: pointer;
 
}



.hover-account-show{
display: none;
margin-top: 22px;
margin-left: 1310px;
position:fixed;
overflow:hidden;
border: 1px solid none;
border-radius: 10px;
background-color: white;
padding: 50px;
text-align:center;
max-width: 10%;
}


.corn-box-accnt-top{
  display: none;
  border-radius: 2px;
  background-color:#ffffff;
  margin-top:-41px;
margin-left: 1385px;
  transform: rotate(43deg);
  max-width: 28px;
  position:relative;
  overflow: auto;

}
nav input[type="text"]{
  width: 200px; 
  height: 41px;
  outline: none;
  color: #000000;
  background: #ffffff;
  border-radius: 7px;
  padding: 14px;
  font-size: 17px;
  border: 2px solid rgb(255, 255, 255);
  /* margin-top: 12px; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
  /* margin-left: -50%; */
}
nav ::placeholder {
  color: #000000; 
  font-weight: lighter;

}
nav button{
  margin-left: 2.5%;
  height: 33px;
  font-size: 22px;
  outline: none;
  border-radius: 7px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: transparent;
  padding: 10px;
  /* transition: all 0.3s ease-in-out; */
}
.sec-br svg {

  color: rgb(0, 0, 0);
  width:18px;
  height:18px; 
   fill:none;
  stroke-width:2px;
  margin-bottom: 10px;
  margin-top: -5.3px;
  margin-left: -500%;
  background-color: #3165f400;
}
.sec-br{
  background-color: transparent;
}

.search{
  /* display:none; */
  display: flex;
  margin-top: 13%;
  margin-left: 15%;
  
  background-color: rgba(255, 255, 255, 0);
}
.hm-rgt img{
  
  display: none;

  
}

     
      
    }
  


    